<a href="https://colab.research.google.com/github/prljylopez/OOP-1-2/blob/main/OOP_Concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Classes and Object

###Create a Class

In [ ]:
class MyClass:
  pass

In [ ]:
class OOP1_2:
  x = 5
  print(x)

5

create object

In [ ]:
class OOP1_2:
  def __init__(self,name,age):   #__init__(parameter)
    self.name = name    #attributes 
    self.age = age

  def identity(self):
    print(self.name, self.age)

person = OOP1_2("Joy", 18)

print(person.name)
print(person.age)
print(person.identity)

Joy
18
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f0ca034c890>>

In [ ]:
#Modify the Object Name

person.name = "April"
print(person.name)
print(person.age)

April
18

In [ ]:
person.age = "19"
print(person.name)
print(person.age)

April
19

In [ ]:
#Delete the Object

del person.name

In [ ]:
print(person.age)
print(person.name)

19

AttributeError: ignored

Application 1 - Write a Python program that computes the area of a square, and name its class as Square, sideas a attribute

In [ ]:
class Square:
  def __init__(self,sides):
    self.sides = sides
  
  def area(self):
    return self.sides*self.sides

  def display(self):
    print("the are of the square is:", self.area())

square = Square(4)

square.display()
print(square.display)
print(square.area)

the are of the square is: 16
<bound method Square.display of <__main__.Square object at 0x7f0ca0290950>>
<bound method Square.area of <__main__.Square object at 0x7f0ca0290950>>

In [ ]:
#square.display()
print(square.sides)
square.display()

4
the are of the square is: 16

Application 2 - Write a Python program that displays your full name, age, course, school. Create a class named MyClass, and name, age, school, course as attributes

In [32]:
class MyClass:
  def __init__(self, name, age, school, course):   
    self.name = name    
    self.age = age
    self.school = school
    self.course = course

  def identity(self):
    print(self.name, self.age, self.school, self.course)

person = MyClass("April Joy", 18, "Cavite State University - Main Campus", "BS in Computer Engineering")

print(person.name)
print(person.age)
print(person.school)
print(person.course)

April Joy
18
Cavite State University - Main Campus
BS in Computer Engineering